@model IEnumerable<Twitter.App.Models.ViewModels.TweetViewModel>

@{
    ViewBag.Title = "Home Page";
}

@{
    ViewBag.Title = "Tweets";
}

<div id="tweets">
    <h3>All Tweets</h3>
    <div id="new-tweet-place"></div>

    @foreach (var tweet in Model)
    {
        Html.RenderPartial("../Tweets/_Tweet", tweet);
    }
</div>
