@model IEnumerable<Twitter.App.Models.ViewModels.TweetViewModel>

@{
    ViewBag.Title = "Home Page";
}

@{
    ViewBag.Title = "Tweets";
}
<div id="tweets">

    @{ Html.RenderPartial("_Tweets", Model); }

</div>

<div class="paging">
    <ul class="pagination">
        @for (int i = 0; i <= Model.Count(); i++)
        {
            if (i % 10 == 0)
            {
                <li>
                    @Ajax.ActionLink((i / 10 + 1).ToString(), "TweetsByPage",
                        new { page = (i / 10) + 1 },
                        new AjaxOptions { UpdateTargetId = "tweets", InsertionMode = InsertionMode.Replace })
                </li>
            }
        }
    </ul>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
