@model Twitter.App.Models.BindingModels.CreateTweetBindingModel
@{
    ViewBag.Title = "CreateTweet";
}

<h2>CreateTweet</h2>

@using (Html.BeginForm("CreateTweet", "Home"))
{
    @Html.LabelFor(t => t.Text)
    @Html.EditorFor(t => t.Text)
    <input type="submit"/>
}